.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  /* margin: 0px auto; */
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 30px 30px 30px 30px !important;
  margin: 0px auto;
  /* background-color: #9575CD;
  color: floralwhite; */
}

.jumbotron h4 {
  margin: 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

.carImg {
  /* width: auto !important; */
  /* margin: auto; */
  height: 500px !important;
  max-height: 500px !important;
}

.black {
  background-color: black;
}

.text-grey {
  color: grey;
}

a:hover {
  text-decoration: none !important;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #dc3545;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

a.navList:hover {
  /* background-color: #dc3545; */
  border-bottom: 2px solid #dc3545;
  /* border-radius: 5px !important;
  border-style: solid;
  border-width: 2px !important;
  border-color: #dc3545 !important;
  color: white !important; */
}

.navbar .active {
  border-bottom: 2px solid #dc3545;
}

.footNav {
  width: 40px;
}
.text-center{
  display:flex
}
.footNavLink {
  width: 2.75em;
    height: 2.75em;
    flex-shrink: 0;
    /* position: relative; */
  
    justify-content: center;
    align-items: center;
    margin: 0.25em 0px;
    margin-right: 1em;


    fill: #a0a0a0;
}

.footNavLink:hover {
  fill: #eeeeee;
}

.list-group-item.active{
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.carousel-item-imgs {
  height: 480px !important;
  background-color: #000;
}

.carousel-item-imgs3 {
  height: 350px !important;
  background-color: #000;
}

.carousel-item-imgs2 {
  width: 100% !important;
  background-color: #000;
}

.carousel-item-imgs img, .imgThumb img, .footImg img{
  width: auto !important;
  margin: auto;
}

.bg-black {
  background-color: #000;
}

.imgThumb img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.imgThumb {
  height: 150px !important;
  overflow: hidden;
}