



# Dependency directories
node_modules/


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache



# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.test



# Stores VSCode versions used for testing VSCode extensions
.vscode-test

artifacts/channel/mychannel.tx
genesis.block
artifacts/channel/Org1MSPanchors.tx
artifacts/channel/Org2MSPanchors.tx
artifacts/channel/crypto-config
fabric-client-kv-org1
api/package-lock.json
crypto/*


artifacts/src/github.com/fabcar/go/vendor
artifacts/src/github.com/fabcar/go/go.sum
crypto/fabric-client-kv-org1
fabcar.tar.gz

api/wallet



channel-artifacts/mychannel.block

log.txt

api/org1-wallet
api/org2-wallet
artifacts/channel/crypto-config
artifacts/channel/fabric-ca

api/app/data/transactionData.block
api/app/data/transaction.json
api/app/data/block.json
api/app/data/blockData.block
